<%- include('layouts/head.ejs') %>
<%- include('layouts/internal-banner.ejs') %>
<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h2 class="course_header mb-2"><%= course.title %></h2>
            <img src="<%= course.image %>" class="img-fluid course_img" alt="<%= course.title %>" />
            <p class="course_preview"><%= course.description %></p>
            <p>Price $<%= course.price %></p>
        </div>
    </div>
</div>
<%- include('layouts/footer.ejs') %>